@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body{ font-size: 15px; color: #222; 
    margin: 0 auto; letter-spacing: -0.05em; 
    font-family: 'Noto Sans KR', sans-serif; 
min-width: 100%;}
.inner{ width: 1152px; margin: 0 auto; }
/* 텍스트 블라인드 */
.blind{position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px;}

/* title */
.title{ font-size: 24px; font-weight: 700; line-height: 1.35em; }

/* sp-image 01*/
.header-top .logo,
.header-bottom .search-area .btn-submit,
.sc-visual .btn-controller .btn-nav,
.sc-board .btn-more,
.sc-new .btn-new-more::after,
.sc-banner .btn-controller .btn-nav,
.footer-bottom .cs-area{
    background-image: url(../images/sp-01.png);
    background-repeat: no-repeat;
    background-size: 300px;
}
/* sp-image 02 */
.header-bottom .slogan{
    background-image: url(../images/sp-logo01.png);
    background-repeat: no-repeat;
    background-size: 180px;
}
/* sp-image 03 */
.sc-visual .tab-nav a::before{
    background-image: url(../images/sp-02.png);
    background-repeat: no-repeat;
    background-size: 300px;
}

/* sp-image 04 */
.sc-service .service-item .ic::before{
    background-image: url(../images/sp-03.png);
    background-repeat: no-repeat;
    background-size: 1200px;
}
/* sp-image 05 (sc-sns) */
.sc-sns .title::after,
.sc-sns .sns-icon .link-sns{
    background-image: url(../images/sp-ic-sns.png);
    background-repeat: no-repeat;
    background-size: 280px;
}

/* sp-image 06 - footer sns */
.footer-top .footer-sns .ft{
    background-image: url(../images/sp-footer-sns.png);
    background-repeat: no-repeat;
    background-size: 175px;
}