@import "./reset.css";
@import "./common.css";

/* skip-nav */
#skip {
    position: relative;
    z-index: 9999;
}
#skip a {
    text-align: center;
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    line-height: 30px;
    background-color: #fff;
}
#skip a:active,
#skip a:focus {
    top: 0;
}

/* header -top */
.header-top {
    position: relative;
    display: flex;
    line-height: 48px;
    font-weight: 700;
}
.header-top .menu-area {
    display: flex;
    width: 1051px;
    justify-content: space-between;
    letter-spacing: -0.05em;
}
.header-top .logo {
    width: 117px;
    height: 27px;
    margin-top: 8px;
    background-position: -5px -165px;
}
.header-top .top-logo a {
    height: 100%;
    display: block;
}
.header-top .gnb-area .gnb {
    display: flex;
    padding-left: 30px;
    margin-left: 0;
}
.header-top .gnb-area .gnb .gnb-item {
    font-size: 16px;
    margin-left: 20px;
}
.header-top .gnb-area .gnb .gnb-item:hover {
    color: #2292e9;
}
.header-top .util-area .top-menu {
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
}
.header-top .util-area .top-menu .top-menu-item {
    padding: 0 10px;
}
.header-top .util-area .top-menu .top-menu-item:hover {
    color: #2292e9;
}
.header-top .lang-area {
    width: 110px;
    height: 21px;
    padding: auto;
    right: 0;
    top: 48px;
    display: flex;
    position: absolute;
    font-size: 12px;
    z-index: 10;
}
.header-top .lang-area select {
    border-color: #afcfea;
    color: #1e6cb3;
    font-size: 12px;
    background: url("../images/btn-select.png") no-repeat 96% center;
    background-size: 8px auto;
    appearance: none;
    padding: 0 0 0 2px;
    width: 80px;
    height: 21px;
}
.header-top .lang-area .btn-lang {
    width: 30px;
    font-size: 11px;
    color: #fff;
    background-color: #1e6cb3;
    border: 0;
    height: 21px;
    padding: 0;
}

/* header - bottom */
.header-bottom {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header-bottom .slogan {
    width: 178px;
    height: 51px;
    background-position: 0 0;
    margin: 38px 0 30px;
}
.header-bottom .logo a {
    display: block;
    height: 100%;
}
.header-bottom .search-area {
    width: 460px;
    height: 42px;
    border: 3px solid #2292e9;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -245px;
    margin-top: 0;
    box-sizing: border-box;
    line-height: 38px;
    display: flex;
    font-size: 14px;
}
.header-bottom .search-area .input-text {
    background: transparent;
    border: 0;
    height: 38px;
    color: #767676;
    width: 410px;
}
.header-bottom .search-area .input-text::placeholder {
    color: #2292e9;
    padding-left: 10px;
}
.header-bottom .search-area .keyboard {
    background: url("../images/search-keyboard.png") no-repeat;
    width: 29px;
    height: 16px;
    position: absolute;
    right: 42px;
    top: 12px;
    display: inline-block;
    border-style: none;
    cursor: pointer;
}
.header-bottom .search-area .btn-submit {
    width: 36px;
    height: 36px;
    display: inline-block;
    background-position: -32px -97px;
    border: 0;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.header-bottom .wheather-area {
    width: 260px;
    height: 85px;
    padding-top: 30px;
    position: relative;
}
.header-bottom .wheather-area .wheather-top {
    margin-bottom: 7px;
    text-align: left;
    line-height: 47px;
}
.header-bottom .wheather-area .degree {
    font-size: 25px;
    margin-right: 5px;
    font-weight: bold;
}
.header-bottom .wheather-area .wheather .dust {
    font-size: 13px;
    letter-spacing: -1px;
    position: absolute;
    bottom: 25px;
    left: 50px;
}

/* footer */
.footer {
    position: relative;
    width: 1152px;
    margin: 0 auto;
    font-size: 12px;
    color: #636363;
    line-height: 1.35em;
}
.footer-top {
    padding: 15px 0;
    position: relative;
}
.footer-top .corp-area {
    padding: 15px 0;
}
.footer-top .corp-area .corp-list {
    display: flex;
}
.footer-top .corp-area .corp-item {
    font-size: 12px;
    color: #636363;
    position: relative;
}
.footer-top .corp-area .corp-item:first-child {
    padding-right: 10px;
}
.footer-top .corp-area .corp-item + .corp-item {
    padding: 0 10px;
}
.footer-top .corp-area .corp-item + .corp-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1px;
    height: 14px;
    margin-top: -6px;
    background: #dcdcdc;
}
.footer-top .corp-area .corp-item .bold {
    color: #000;
    font-weight: 700;
}
.footer-top .footer-sns {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -14px;
    overflow: hidden;
    font-size: 0;
    text-align: center;
}
.footer-top .footer-sns .ft {
    display: inline-block;
    width: 24px;
    height: 24px;
    content: "";
}
.footer-top .footer-sns .ft + .ft {
    margin-left: 12px;
}
.footer-top .footer-sns .ft.facebook {
    background-position: -25px 0;
}
.footer-top .footer-sns .ft.facebook:hover {
    background-position: -25px -25px;
}
.footer-top .footer-sns .ft.twitter {
    background-position: -50px 0;
}
.footer-top .footer-sns .ft.twitter:hover {
    background-position: -50px -25px;
}
.footer-top .footer-sns .ft.insta {
    background-position: -75px 0;
}
.footer-top .footer-sns .ft.insta:hover {
    background-position: -75px -25px;
}
.footer-top .footer-sns .ft.insta {
    background-position: -75px 0;
}
.footer-top .footer-sns .ft.kakao {
    background-position: -100px 0;
}
.footer-top .footer-sns .ft.kakao:hover {
    background-position: -100px -25px;
}
.footer-top .footer-sns .ft.youtube {
    background-position: -125px 0;
}
.footer-top .footer-sns .ft.youtube:hover {
    background-position: -125px -25px;
}
.footer-top .footer-sns .ft.blog {
    background-position: -150px 0;
}
.footer-top .footer-sns .ft.blog:hover {
    background-position: -150px -25px;
}

.footer-bottom {
    padding: 22px 0;
    border-top: 1px solid #ccc;
    position: relative;
}
.footer-bottom .cs-area {
    margin-right: 40px;
    float: left;
    width: 108px;
    height: 45px;
    background-position: -180px 0;
}
.footer-bottom .info-area {
    padding-bottom: 2px;
}
.footer-bottom .info-area .map {
    font-size: 11px;
}
.footer-bottom .info-area .add-area {
    display: inline-block;
    vertical-align: top;
}
.footer-bottom .info-area .copy {
    font-size: 11px;
}
.footer-bottom .site-mark {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 0;
    background: none;
}
.footer-bottom .site-mark img {
    vertical-align: top;
}

.btn-top {
  cursor: pointer;
    position: fixed;
    bottom: -100px;
    left: 50%;
    display: block;
    margin-left: 600px;
    opacity: 0;
    transition: 1s;
    z-index: 9999;
}

.btn-top::after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 34px;
    background: url("../images/btn-top.png") no-repeat center/contain;
}
.btn-top.active {
    bottom: 98px;
    opacity: 1;
}
