
.group-flex1 {
    display: flex;
    justify-content: space-between;
}
.sc-visual {
    position: relative;
    margin-left: 80px;
}
.sc-visual .content {
    position: absolute;
    width: 690px;
    height: 350px;
}
.sc-visual .tab-nav {
    position: absolute;
    left: -80px;
    width: 80px;
    height: 175px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: #d2e1e9;
    color: #333;
    padding-top: 50px;
    box-sizing: border-box;
    cursor: pointer;
}
.sc-visual .tab-nav a::before {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    background-color: #fff;
    background-position: 0 0;
    border-radius: 50%;
    content: '';
}

.sc-visual .content .img-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 122px;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.sc-visual .content.first .tab-nav {
    top: 0;
}

.sc-visual .content.second .tab-nav {
    top: 50%;
}

.sc-visual .content.active {
    z-index: 2;
}

.sc-visual .content.active .tab-nav {
    background-color: #0158a8;
    color: #fff;
}

.sc-visual .content.active .tab-nav::after {
    content: '';
    position: absolute;
    z-index: 10;
    left: 99%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 32px;
    border-color: transparent transparent transparent #0158a8;
    margin-top: -25px;
}

.sc-visual .btn-controller {
    position: absolute;
    color: #fff;
    z-index: 2;
    display: block;
    font-size: 14px;
    right: 3px;
    bottom: 4px;
    width: 110px;
    height: 32px;
    z-index: 11;
    line-height: 32px;
}

.sc-visual .btn-controller .fraction::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 66px;
    width: 1px;
    height: 24px;
    background: rgba(255, 255, 255, .5);
}

.sc-visual .btn-controller .btn-nav {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 6px;
    z-index: 3;
    display: inline-block;

}

.sc-visual .btn-controller .btn-nav.prev {
    background-position: -241px -285px;
    right: 40px;
}

.sc-visual .btn-controller .btn-nav.autoplay {
    background-position: -285px -285px;
    right: 19px;
}

.sc-visual .btn-controller .btn-nav.btn-nav.autoplay.active {
    background-position: -269px -285px;
}

.sc-visual .btn-controller .btn-nav.next {
    background-position: -256px -285px;
    right: 1px;
}

.sc-covid-curr {
    background: url("../images/bg-covid.jpg") no-repeat;
    width: 360px;
    height: 98px;
    position: relative;
    margin-bottom: 7px;
}

.sc-covid-curr .covid-area {
    display: block;
    height: 100%;
}

.sc-covid-curr .covid-now {
    display: flex;
    font-size: 13px;
    font-weight: 700;
}

.sc-covid-curr .covid-now .covid-date {
    padding-top: 0;
    top: 12px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 25px;
    color: #000;
    right: 20px;
    letter-spacing: -0.05em;
    height: 16px;
    line-height: 16px;
    position: absolute;
}

.sc-covid-curr .covid-now .case {
    position: absolute;
    text-align: center;
    color: #fff;
}

.sc-covid-curr .covid-now .case.left {
    top: 37px;
    width: 105px;
    height: 58px;
    left: 19px;
}

.sc-covid-curr .covid-now .case .confirmed-num {
    display: block;
    font-size: 17px;
    margin-top: 6px;
}

.sc-covid-curr .covid-now .case.mid {
    top: 37px;
    width: 105px;
    height: 58px;
    left: 120px;
}

.sc-covid-curr .covid-now .case.right {
    top: 37px;
    width: 110px;
    height: 58px;
    left: 230px;
}
.sc-vision a{display: block; height: 100%;}

.sc-mayor {
    width: 360px;
    height: 130px;
    position: relative;
    margin-top: 7px;
}

.sc-mayor .mayor-link {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 88px;
}

.sc-mayor .mayor-img {
    position: relative;
    width: 360px;
    height: 130px;
    display: block;
}

.sc-mayor .mayor {
    position: absolute;
}

.sc-mayor .mayor.left {
    left: 130px;
}

.sc-mayor .mayor.right {
    left: 237px;
}

.sc-service .service-area {
    position: relative;
}

.sc-service .title {
    padding-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    display: block;
}

.sc-service .service-list {
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: table;
    width: 100%;
    margin: 0 auto;
}

.sc-service .service-list .service-item {
    width: auto;
    height: 90px;
    display: table-cell;
    text-align: center;
}

.sc-service .service-item .ic::before {
    width: 60px;
    height: 60px;
    display: block;
    content: '';
    margin: 0 auto 10px;
}

.sc-service .service-item .ic.reservation::before {
    background-position: -360px 0;
}

.sc-service .service-item .ic.complain::before {
    background-position: 0 0;
}

.sc-service .service-item .ic.job::before {
    background-position: -120px 0;
}

.sc-service .service-item .ic.property::before {
    background-position: -300px 0;
}

.sc-service .service-item .ic.study::before {
    background-position: -180px 0;
}

.sc-service .service-item .ic.welfare::before {
    background-position: -960px 0;
}

.sc-service .service-item .ic.house::before {
    background-position: -780px 0;
}

.sc-service .service-item .ic.young::before {
    background-position: -1140px 0;
}

.sc-service .service-item .ic.seoul::before {
    background-position: -1020px 0;
}

.sc-service .service-item .ic.demo::before {
    background-position: -60px 0;
}

.sc-service .service-item .ic.council::before {
    background-position: -600px 0;
}

.sc-service .service-area .btn-service {
    width: 112px;
    height: 29px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 50px;
    padding-left: 13px;
    line-height: 28px;
    background: url("../images/ic-more-service.png") no-repeat right 13px top 50%;
}

.sc-center {
    margin-top: 35px;
    width: 100%;
    height: 110px;
    background-color: #eff4f8;
}

.sc-center .wrap {
    width: 1152px;
    margin: 0 auto;
}

.sc-center .covid-list {
    display: flex;
    padding: 20px 0;
}

.sc-center .covid-item {
    width: 288px;
    border-left: 1px solid #dbdbdb;
}

.sc-center .covid-list .covid-item:first-child {
    border-left: 0;
}

.group-flex2 {
    display: flex;
    border-bottom: 2px solid #222222;
    padding: 50px 0;
    margin: 0 auto;
}

.sc-board {
    width: 360px;
    position: relative;
    margin-right: 36px;
}

.sc-board .title {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #dbdbdb;
}

.sc-board .board-list .board-item {
    padding: 6px 0;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sc-board .board-item .bg {
    margin-right: 9px;
}

.sc-board .board-item .bg.house {
    color: #c35c3c;
}

.sc-board .board-item .bg.welfare {
    color: #d76000;
}

.sc-board .board-item .bg.culture {
    color: #9b64d3;
}

.sc-board .board-item .bg.enviro {
    color: #599100;
}

.sc-board .btn-more {
    background-position: -1px -1px;
    width: 22px;
    height: 20px;
    border: 1px solid #ddd;
    position: absolute;
    right: 0;
    top: 6px;
    box-sizing: border-box;
}

.sc-board .btn-more a {
    width: 100%;
    height: 100%;
    display: block;
}

.sc-board.sepcial {
    margin: 0 36px;
}

.sc-often {
    width: 360px;
}

.sc-often .title {
    margin-bottom: 10px;
    padding-bottom: 5x;
}

.sc-often .often-list {
    padding: 17px 5px 7px 20px;
    background: #eff4f8;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
}

.sc-often .often-list .often-item {
    padding: 0 0 10px 10px;
    display: inline-block;
    flex-wrap: wrap;
    width: 50%;
    box-sizing: border-box;
}

.sc-often .often-list .often-item::before {
    content: '';
    background: #666666;
    width: 2px;
    height: 2px;
    display: inline-block;
    margin-right: 6px;
}

.sc-information {
    padding-top: 40px;
}

.sc-information .title {
    padding-bottom: 20px;
}

.sc-information .info-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 27px;
    margin-left: -59px;
    box-sizing: border-box;
}

.sc-information .info-list li {
    margin-left: 59px;
    width: 85px;
    height: 145px;
}

.sc-information .info-list .info {
    display: block;
    height: 100%;
}

.sc-information .info-list .info::before {
    content: '';
    display: block;
    width: 100%;
    height: 85px;
    margin-bottom: 10px;
}

.sc-information .info-list .info.house::before {
    background: url("../images/ic-house.png") no-repeat;
}

.sc-information .info-list .info.economy::before {
    background: url("../images/ic-economy.png") no-repeat;
}

.sc-information .info-list .info.traffic::before {
    background: url("../images/ic-traffic.png") no-repeat;
}

.sc-information .info-list .info.enviro::before {
    background: url("../images/ic-enviro.png") no-repeat;
}

.sc-information .info-list .info.welfare::before {
    background: url("../images/ic-welfare.png") no-repeat;
}

.sc-information .info-list .info.safe::before {
    background: url("../images/ic-safe.png") no-repeat;
}

.sc-information .info-list .info.culture::before {
    background: url("../images/ic-culture.png") no-repeat;
}

.sc-information .info-list .info.admin::before {
    background: url("../images/ic-admin.png") no-repeat;
}

.sc-new {
    padding: 20px 0 30px;
    position: relative;
}

.sc-new .title {
    padding: 0 0 20px;
}

.sc-new .new-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sc-new .new-list .new-item {
    margin-right: 10px;
    position: relative;
    width: 273px;
}

.sc-new .new-item .box {
    position: absolute;
    left: 0;
    bottom: 83px;
    width: 82px;
    height: 32px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    z-index: 1;
    font-size: 14px;
    font-weight: 700;
}

.sc-new .new-item .box.adm {
    background-color: #028ab6;
}

.sc-new .new-item .box.traffic {
    background-color: #337ee2;
}

.sc-new .new-item .box.enviro {
    background-color: #599100;
}

.sc-new .new-item .box.welfare {
    background-color: #d76000;
}

.sc-new .new-item a {
    display: block;
    width: 100%;
}

.sc-new .new-item .desc {
    font-size: 16px;
    width: 100%;
    height: 48px;
    line-height: 1.5em;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: normal;
    color: #222;
    word-break: keep-all;
}

.sc-new .new-list .img-box {
    width: auto;
    min-width: 273px;
    height: 188px;
    margin-bottom: 15px;
    overflow: hidden;
}

.sc-new .new-item .img-box img {
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}

.sc-new .new-item .img-box img:hover {
    transform: scale(1.1);
}

.sc-new .btn-new-more {
    color: #7d7d7d;
    font-size: 15px;
    top: 36px;
    right: 10px;
    position: absolute;

}

.sc-new .btn-new-more::after {
    content: '';
    width: 20px;
    height: 20px;
    background-position: -55px -259px;
    display: inline-block;
    vertical-align: top;
}

.group-flex03 {
    display: flex;
    border-bottom: 2px solid #222222;
    padding: 20px 0 30px;
}

.sc-media {
    display: flex;
}

.sc-media .title {
    padding-bottom: 11px;
}

.sc-media .video-area {
    width: 280px;
    height: 152px;
}

.sc-media .video-area a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.sc-media .video-area .video-box {
    width: auto;
    max-width: 280px;
    overflow: hidden;
}
.sc-media .video-area .video-box img {
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}
.sc-media .video-area .video-box img:hover {
    transform: scale(1.1);

}

.sc-media .video-area .video-title {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, .5);
    padding: 11px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 280px;
}

.sc-media .notice-area {
    width: 480px;
    margin: 0 0 0 20px;
}

.sc-media .notice-area .notice-list .notice-item {
    padding: 8px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #555555;
}

.sc-media .notice-area .notice-item .category {
    font-size: 16px;
    font-weight: 400;
    color: #09ac43;
    margin-right: 18px;
}

.sc-sns {
    position: relative;
}

.sc-sns .sns-bg {
    width: 350px;
    height: 195px;
    margin-left: 22px;
    background: url("../images/sns-area.jpg") no-repeat;
    display: block;
    padding: 10px 15px;
}

.sc-sns .title {
    display: inline-block;
    padding-right: 50px;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}

.sc-sns .title::after {
    content: '';
    display: inline-block;
    width: 34px;
    height: 24px;
    background-position: -247px 0;
    border-left: 1px solid #878787;
    padding-right: 6px;
    position: absolute;
    top: 2px;
    right: 0;
}

.sc-sns .sns-icon {
    overflow: hidden;
    position: absolute;
    top: 90px;
    left: 50%;
    width: 276px;
    height: 40px;
    margin-left: -138px;
}

.sc-sns .sns-icon .link-sns {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
}

.sc-sns .sns-icon .link-sns.ic-insta {
    background-position: 0 0;
}

.sc-sns .sns-icon .link-sns.ic-facebook {
    background-position: -40px 0;
}

.sc-sns .sns-icon .link-sns.ic-twitter {
    background-position: -80px 0;
}

.sc-sns .sns-icon .link-sns.ic-blog {
    background-position: -120px 0;
}

.sc-sns .sns-icon .link-sns.ic-youtube {
    background-position: -160px 0;
}

.sc-sns .sns-icon .link-sns.ic-kakao {
    background-position: -200px 0;
}

.sc-banner {
    padding: 50px 0;
}

.sc-banner .btn-controller {
    display: flex;
    margin-top: 5px;
    justify-content: flex-end;
    align-items: center;
    height: 32px;
}

.sc-banner .swiper-slide a {
    display: inline-block;
}

.sc-banner .fraction {
    width: auto;
    margin-right: 10px;
}

.sc-banner .btn-controller .btn-nav {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    display: inline-block;
}

.sc-banner .btn-controller .btn-nav.prev {
    background-position: -45px -43px;
    margin-right: -1px;
}

.sc-banner .btn-controller .btn-nav.autoplay {
    background-position: -65px -43px;
}

.sc-banner .btn-controller .btn-nav.autoplay.active {
    background-position: -101px -43px;
}

.sc-banner .btn-controller .btn-nav.next {
    background-position: -86px -43px;
    margin-left: -1px;
}

/* 관련사이트 */
.sc-related {
    position: relative;
    margin-bottom: 20px;
}

.sc-related .related-list {
    display: flex;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    background: #d0d0d0;
}

.sc-related .related-item {
    width: 100%;
    border-left: 1px solid #d0d0d0;
    background: #f7f7f7;
    color: #333;
    text-align: center;
}

.sc-related .related-item .btn-related {
    display: block;
    padding: 16px 0;
    background: #f7f7f7;
}

.sc-related .related-item .btn-related span {
    position: relative;
    padding-right: 20px;
}

.sc-related .related-item .btn-related span::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    height: 7px;
    width: 7px;
    border-style: solid;
    border-color: #373737;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center center;
}

.sc-related .related-item .btn-related.active {
    background: #e2e2e2;
}

.sc-related .related-item .btn-related.active span::after {
    top: 4px;
    transform: rotate(45deg);
    transform-origin: center center;
}

.sc-related .related-list .sub-list {
    position: absolute;
    left: 0;
    width: 100%;
    background: #ccc;
    z-index: 2;
    bottom: 52px;
    display: none;
    left: 0;
    padding: 10px 20px 20px;
    background: #fff;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    z-index: 10;
    text-align: left;
}

.sc-related .sub-list ul {
    display: flex;
    flex-wrap: wrap;

}

.sc-related .sub-list ul li {
    width: calc(100% / 4);
    width: 25%;
    margin-top: 10px;
    font-size: 14px;
    color: #555555;

}
